<div class="searchbar-container">
    <input type="text" 
           @bind="SearchTerm" 
           @oninput="OnSearchTermChanged" 
           placeholder="@Labels.Search"
           class="form-control mb-3"
           @onfocus="OnFocusHandler"
           @onblur="OnBlurHandler" />
</div>