/* Définition des variables globales */
:root {
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --accent-color-1: #FF8C00;
    --accent-color-2: #8B4513;
    /* Couleurs d’état */
    --success-color: #4CAF50;
    --danger-color: #F44336;
    --info-color: #2196F3;
    --warning-color: goldenrod;
    /* Typographie */
    --font-primary: 'Arial', sans-serif;
    /* Mainlayout */
    --page-height: 93vh;
    --main-height: 85%;
    --header-height: 7vh;
    --header-padding: .5rem;
    /* Menu */
    --menu-bg-color: var(--accent-color-2);
    --menu-hover-bg: rgba(255, 255, 255, 0.1);
    --menu-active-bg: rgba(255, 255, 255, 0.37);
    --menu-text-color: var(--accent-color-1);
    --menu-active-text: var(--secondary-color);
    --menu-font-size: 1rem;
    --menu-width: 100%;
    --menu-height: 15%;
    --menu-item-height: 100%;
    --menu-item-width: -webkit-fill-available;
    /* Tailles */
    --icon-size: 1.25rem;
    --sidebar-width: 100%;
    /* CultureSelector*/
    --flag-width: 1.5rem;
    --flag-height: 1.5rem;
    /* Buttons */
    --button-bg-color: var(--accent-color-1);
    --button-text-color: var(--secondary-color);
    --button-box-shadow-background-color: var(var(--secondary-color));
    --button-box-shadow-border-color: var(var(--primary-color));
    /* Card */
    --card-width: 100%;
    --card-img-container-width: 10rem;
    --card-img-container-height: 10rem;
    --card-img-border-radius: 50%;
    --card-title-font-size: 1.2rem;
    --card-title-margin: .5rem 0;
    --card-actions-flex-direction: column;
    /* Options Menu */
    --option-menu-bottom: calc(var(--menu-height) + 1vh);
    --option-menu-font-size: 1rem;
    --option-menu-height: 4rem;
    --border-radius: 5px;
    --border-size: 2px;
    /* Grid */
    --grid-height: 60vh;
    /* Modal */
    --modal-content-max-width: 100%;
    --modal-content-max-height: 100%;
    --modal-body-max-width: 90vw;
    --modal-body-max-height: 90vh;
    /* Form */
    --form-body-max-height: 60vh;
    /* Input */
    --input-width: 76vw;
    /* Scrollbar */
    --scrollbar-width: 5px;
    --scrollbar-height: 5px;
    --scrollbar-color: var(--accent-color-2);
    --scrollbar-color-hover: var(--accent-color-1);
    --scrollbar-border-radius: 10px;
    /* Pagination buttons*/
    --pagination-buttons-container-gap: 4rem;
    /* Loader */
    --loader-color: var(--accent-color-1);
    --loader-cursor-color: var(--accent-color-2);
}

/* iPads, Tablets */
@media (min-width: 481px) {
    :root {
        /* Card */
        --card-width: 80%;
        --card-title-font-size: 1.1rem;
        /* Modal */
        --modal-body-width: 80vw;
        /* Pagination buttons*/
        --pagination-buttons-container-gap: 10rem;
        /* Menu */
        --menu-item-width: auto;
    }
}

@media (min-height: 767px) {
    :root {
        /* Modal */
        --modal-body-max-height: 80vh;
        --modal-content-height: 90%;

        /* Menu*/
        --menu-height: 10%;

        /* Mainlayout */
        --main-height: 90%;
    }
}

/* Small screens, laptops */
@media (min-width: 769px) {
    :root {
        /* Card */
        --card-width: 40vw;
        --card-title-font-size: 1.1rem;

        /* Input */
        --input-width: 25vw;

        /* Modal */
        --modal-content-width: 70%;
    }
}

@media (min-height: 1023px) {
    :root {
        /* Menu */
        --menu-height: 7%;

        /* MainLayout */
        --main-height: 93%;

        /* Grid */
        --grid-height: 53vh;
    }
}

/* Desktops, large screens */
@media (min-width: 1024px) {
    :root {
        /* Card */
        --card-width: 25vw;

        /* Modal */
        --modal-content-width: 60%;
    }
}

@media (min-height: 1199px) {
    :root {}
}


/* Extra large screens, TV */
@media (min-width: 1201px) {
    :root {
        /* Card */
        --card-width: 20vw;

        /* Modal */
        --modal-content-width: 55%;
    }
}

@media (min-height: 1201px) {
    :root {}
}