.pagination-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.pagination-buttons-container button {
    border-radius: 50%;
    padding: .5rem;
    display: flex;
}