.loader-container {
    z-index: 9999;
}

.loader {
    border: 5px solid var(--loader-color); /* Couleur du fond */
    border-top: 5px solid var(--loader-cursor-color); /* Couleur de l'animation */
    border-radius: 50%;
    width: .75rem;
    height: .75rem;
    animation: spin 2s linear infinite;
}

/* Animation de rotation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-fill-page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
    .loader-fill-page .loader {
        width: 50px;
        height: 50px;
    }

