@inherits CustomComponentBase

<nav class="nav-menu">
    @foreach (var item in _navMenuItems)
    {
        <div class="nav-item" @onclick="@(()=>OnMenuItemClicked.InvokeAsync())" @onclick:stopPropagation="true">
            <NavLink class="nav-link" 
                     href="@item.Url" 
                     Match="NavLinkMatch.Prefix">
                <Icon IconName="@item.Icon"/>
                <span class="nav-item-text">@item.Text</span>
            </NavLink>
        </div>
    }
</nav>