.nav-menu {
    background-color: var(--menu-bg-color);
    width: var(--menu-width);
    height: var(--menu-height);
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.nav-item-text {
    font-size: var(--menu-font-size);
}

.nav-item {
    width: -webkit-fill-available;
    height: 100%;
}

.nav-item ::deep .nav-link {
    background-color: var(--menu-bg-color);
    height: var(--menu-item-height);
    width: var(--menu-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--menu-text-color) !important;
}

.nav-item:hover,
.nav-item:has(> .nav-link.active) {
    --menu-bg-color: var(--accent-color-1);
}

.nav-item:hover ::deep .nav-link,
.nav-item ::deep .nav-link.active {
    --menu-text-color: var(--accent-color-2);
}