.ingredient-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: var(--grid-max-height);
    overflow: auto;
    margin-bottom: 1rem;
}

.pagination-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    width: 90vw;
}

.pagination-buttons-container button {
    border-radius: 50%;
    padding: .5rem;
    display: flex;
}