@using simple_recip_application.Components.Modal;

@rendermode InteractiveServer

<div class="modal-overlay" @onclick="@(() => CloseOnOverlayClick())">
    <div class="modal-content">
        <button class="modal-close" @onclick="@(() => CloseModal())">×</button>
        @ChildContent
    </div>
</div>
