@using simple_recip_application.Components.Modal;

@rendermode InteractiveServer
@inherits CustomComponentBase

<div class="modal-container @_isVisibleCssClass">
    <div class="modal-content">
        <button class="modal-close" @onclick="@(() => CloseModal())">×</button>

        @ChildContent
    </div>
    <div class="modal-overlay" @onclick="@(() => CloseOnOverlayClick())"></div>
</div>
