@using simple_recip_application.Components.Modal;

@rendermode InteractiveServer
@inherits CustomComponentBase

<div class="modal-container @_isVisibleCssClass">
    <div class="modal-content">
        <div class="modal-header">
            <button class="modal-close" @onclick="@(() => CloseModal())">×</button>
        </div>
        <div class="modal-body">
            @ChildContent
        </div>
    </div>
    <div class="modal-overlay" @onclick="@(() => CloseOnOverlayClick())"></div>
</div>
