.notification-container {
    position: fixed;
    top: 2vh;
    right: 1vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
}

.notification {
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

.notification.success {
    background-color: var(--success-color);
}

.notification.error {
    background-color: var(--danger-color);
}

.notification.info {
    background-color: var(--info-color);
}

.notification.warning {
    background-color: var(--warning-color);
}

.notification button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}