@using static Microsoft.AspNetCore.Components.Web.RenderMode

@rendermode InteractiveServer
@inherits Fluxor.Blazor.Web.Components.FluxorComponent;

@if (NotificationState.Value.Notifications.Any())
{
    <div class="notification-container">
        @foreach (var notification in NotificationState.Value.Notifications)
        {
            <div class="notification @notification.Type">
                <span>@notification.Message</span>
                <button @onclick="@(() => RemoveNotification(notification))">×</button>
            </div>
        }
    </div>
}
