
.options-container {
    position: fixed;
    bottom: var(--option-menu-bottom);
    display: flex;
    flex-direction: row;
    width: 95vw;
    justify-content: flex-end;
    align-items: center;
    overflow: auto;
}

.options-button {
    padding: 10px;
    border-radius: 50%;
    font-size: var(--option-menu-font-size);
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

/* Liste des options (visible lorsque le bouton est cliqué) */
.options-list {
    background-color: transparent;
    z-index: 999;
}

.options-list button {
    margin: 0 5px;
    font-size: var(--option-menu-font-size);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
}