@inherits CustomComponentBase

<div class="options-container">
    @if (_isOptionsListVisible)
    {
        <div class="options-list">
            @foreach (var option in Options)
            {
                <button @onclick="@(async () => await option.OnClickAction.Invoke())" class="btn btn-secondary">
                    <span class="material-symbols-outlined">@option.Icon</span>
                    @if (!string.IsNullOrEmpty(option.Text))
                    {
                        @option.Text
                    }
                </button>
            }
        </div>
    }

    <button class="btn btn-primary options-button" @onclick="ToggleOptionsList">
        <span class="material-symbols-outlined">list</span>
    </button>
</div>