/* 🌟 Base du layout */
.page {
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    height: 93vh;
    padding: 1rem;
}

/* 🏠 Contenu principal */
main {
    flex: 1;
    padding-bottom: 70px; /* Pour éviter que le contenu passe sous la menu */
}

/* 📱 Adaptation pour écrans plus grands */
@media (min-width: 768px) {
    .page {
        flex-direction: row;
    }

    main {
        margin-left: var(--menu-width);
        padding: 30px;
    }
}

@media (min-width: 1024px) {
    main {
        padding: 50px;
    }
}