/* 🌟 Base du layout */
.page {
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    height: 93vh;
    padding: 1rem;
}

/* 🏠 Contenu principal */
main {
    flex: 1;
    padding-bottom: 70px; /* Pour éviter que le contenu passe sous la menu */
}

/* 🎨 Boutons */
.btn {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.btn-primary {
    background-color: var(--accent-color-1);
    color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--accent-color-2);
    color: var(--secondary-color);
}

.btn-success {
    background-color: var(--success-color);
    color: var(--secondary-color);
}

.btn-danger {
    background-color: var(--danger-color);
    color: var(--secondary-color);
}

.btn-info {
    background-color: var(--info-color);
    color: var(--secondary-color);
}

/* 📱 Adaptation pour écrans plus grands */
@media (min-width: 768px) {
    .page {
        flex-direction: row;
    }

    main {
        margin-left: var(--menu-width);
        padding: 30px;
    }
}

@media (min-width: 1024px) {
    main {
        padding: 50px;
    }
}