/* 🌟 Base du layout */
.page {
    display: flex;
    flex-direction: var(--page-flex-direction);
    font-family: var(--font-primary);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    height: var(--page-height);
    padding: var(--page-padding);
}

/* 🏠 Contenu principal */
main {
    flex: 1;
    padding-bottom: var(--main-padding-bottom);
    overflow: auto;
}