<nav class="nav-menu">
    <div class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="material-symbols-outlined">home</span>
            <span class="nav-item-text">@LabelsLocalizer["Home"]</span>
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="ingredients">
            <span class="material-symbols-outlined">grocery</span>
            <span class="nav-item-text">@LabelsLocalizer["Ingredients"]</span>
        </NavLink>
    </div>
</nav>